<head>
		<link href="https://www.coding-depot.com/styles.css" media="all" rel="stylesheet" type="text/css" />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
	</head>	
    
    	<div class="opps">
			<div class="opps-header">
				<div class="opps-reminder">Ficha digital. No es necesario imprimir.</div>
				<div class="opps-info">
					<div class="opps-brand"><img src="https://www.coding-depot.com/oxxopay_brand.png" alt="OXXOPay"></div>
					<div class="opps-ammount">
						<h3>Monto a pagar</h3>
						<h2>$ {{Costo}} <sup>MXN</sup></h2>
						<p>OXXO cobrará una comisión adicional al momento de realizar el pago.</p>
					</div>
				</div>
				<div class="opps-reference">
					<h3>Referencia</h3>
					<h1>{{Referencia}}</h1>
				</div>
				<div><center>Ésta ficha expira en 24 horas</center></div>
			</div>
			<div class="opps-instructions">
				<h3>Instrucciones</h3>
				<ol>
					<li>Acude a la tienda OXXO más cercana. <a href="https://www.google.com.mx/maps/search/oxxo/" target="_blank">Encuéntrala aquí</a>.</li>
					<li>Indica en caja que quieres realizar un pago de <strong>OXXO Pay</strong>.</li>
					<li>Dicta al cajero el número de referencia en esta ficha para que tecleé directamete en la pantalla de venta.</li>
					<li>Realiza el pago correspondiente (OXXO te cobrará una comisión adicional de $12 pesos).</li>
					{#<li>El cajero te entregará un comprobante impreso en el que podrás verificar que tu pago se haya realizado correctamente.</li>#}
				</ol>
				<div class="opps-footnote">Al completar estos pasos recibirás un correo y/o SMS con la ubicación solicitada.</div>
			</div>
		</div>	
        