{% extends 'base.html.twig' %}

{% block body %}
    <div id="parallax-slider-58e771280f371" class="parallax-slider"><ul class="baseList"><li></div>
            <body class="single single-product postid-1958 woocommerce woocommerce-page has_woocommerce has_shop olrk-live-chat">
                <div id="" class="main-holder">
                    <div class="motopress-wrapper content-holder clearfix woocommerce">
                        <div class="container container-m-h">
                            <h1 class='text-center'>Términos y Condiciones.</h1>
                            <h2>Introducción.</h2>
                            <p>Software Homework es una tienda en línea que vende paquetes de código para crear pequeñas aplicaciones y proyectos, principalmente para resolver tareas de preparatoria y universidad. El comprador recibe un paquete que contiene el código fuente y una explicación para implementarlo. </p>

                            <h2>Derechos de Autor</h2>
                            <p>Todos los diseños, imágenes, demos y código fueron elaborados y son propiedad del sitio. El código que el comprador adquiere fue diseñado por el sitio para su venta, al comprarlo le otorgamos todos los derechos para su uso en proyectos personales, educativos o comerciales. Ésta prohibida la reventa del código que le ofrecemos, pero su uso es totalmente libre.</p>

                            <h2>Privacidad.</h2>
                            <p>No almacenamos información alguna sobre el usuario o sobre su información de pago. Por eso la venta de código es directa (sin carrito de compra), no requieres crear ningún usuario.</p>
                            <p>Los pagos son procesados por Paypal y no compartimos absolutamente ninguna información con terceros.</p>

                            <h2>Seguridad</h2>
                            <p>La información del sitio se transmite a través de https con una conexión segura SSL para así proporcionar a los usuarios la garantía de que la información viaja segura desde y hacia el sitio de forma encriptada.</p>
                            <p>Los procesadores de pago utilizados por el sitio están verificados y tienen conexiones seguras. La información de su tarjeta no es guardada por el sitio bajo ninguna circunstancia.</p>

                            <h2>Devoluciones, Cancelaciones y Reembolsos.</h2>
                            <p>Tienes el derecho a pedir un reembolso del 100% del producto si éste no satisface tus expectativas. Cuentas hasta con 90 días hábiles para hacerlo. El sitio hará esa devolución en un periodo no mayor a 48 horas.</p>
                            <p>En caso de pedir un reembolso, el comprador queda entendido que no podrá usar el código previamente comprado y deberá borrarlo, queda prohibido después de eso cualquier forma de uso.</p>
                            <p>Esperamos de buena fe este comportamiento por parte del usuario que ha pedido un reembolso ya que en realidad no estamos estableciendo ninguna restricción sobre el archivo. Nuestro principal objetivo es poder llegar a toda la comunidad de entusiastas nuevos de la programación por lo que reembolsaremos a todo cliente que no le satisfaga totalmente nuestro producto y asimismo esperamos que el cliente actuará de buena fe.</p>

                            <h2>Soporte.</h2>
                            <p>Para soporte las 24 horas sobre pagos y reembolsos por favor escribe a support@softwarehomework.com, recibirás respuesta en menos de 48 horas. </p>
                            <p>El soporte está limitado para compras en el sitio, no abarca la implementación de proyectos. Como cliente aceptas que tú eres quien debe implementar el código en tu propio ambiente de producción. Sin embargo, siempre te podemos asesorar con gusto en support@softwarehomework.com de forma limitada. </p>
                        </div>
                    {% endblock %}
                    {# {% block footer %}
                        {% if item.featured == false %}
                            {% include 'AppBundle:layout:footer2.html.twig' %}
                        {% else %}
                            {{parent()}}
                        {% endif %}

                    {% endblock %}
                    {% block header %}
                        {% if item.featured == false %}
                            {% include 'AppBundle:layout:header2.html.twig' %}
                        {% else %}
                            {{parent()}}
                        {% endif %}
                    {% endblock %}

                    {% block title %}
                        {% if item.featured == false %}
                            Geopositioning Services
                        {% else %}
                            {{parent()}}
                        {% endif %}
                    {% endblock %} #}