{% extends 'base.html.twig' %}

{% block body %}
    <div id="parallax-slider-58e771280f371" class="parallax-slider"><ul class="baseList"><li></div>
            <body class="single single-product postid-1958 woocommerce woocommerce-page has_woocommerce has_shop olrk-live-chat">
                <div id="" class="main-holder">
                    <div class="motopress-wrapper content-holder clearfix woocommerce">
                        <div class="container container-m-h">

                            <h1 class="text-center">{% trans %}Términos y condiciones{% endtrans %}</h1>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec accumsan varius dui quis porta. Maecenas mi neque, consectetur nec ligula sit amet, pellentesque condimentum ligula. Phasellus semper molestie purus non blandit. Pellentesque sollicitudin, leo a vehicula efficitur, augue erat posuere dui, ultricies posuere urna tortor faucibus est. Ut tempor metus ut mattis tempus. Fusce a erat est. Duis nec neque ac nunc sollicitudin pulvinar. Maecenas vitae rhoncus sapien, quis pharetra tortor.</p>

                            <p>Aenean pharetra magna a posuere accumsan. Aliquam non lorem odio. Integer at nisi mauris. Etiam bibendum iaculis nibh, at rutrum nulla luctus consectetur. Proin tincidunt enim nibh, quis lacinia nulla tincidunt nec. Donec vulputate nec felis et vestibulum. Vestibulum ornare tellus feugiat lorem pharetra dictum. Integer at dolor nibh. Vivamus dignissim elementum lacus ac congue. In sodales, metus non consequat vestibulum, diam sapien scelerisque tellus, nec porttitor risus ipsum id lacus. Praesent sagittis ultricies mauris non tempor.</p>

                            <p>Pellentesque id urna eu nulla dignissim ultrices ut vel quam. Sed nisl libero, dapibus sit amet semper ac, iaculis vitae nunc. Mauris condimentum suscipit lacus, eget semper velit ultrices sed. Vivamus eu nisi nulla. Phasellus leo lorem, mattis in neque quis, eleifend euismod tellus. Maecenas ultrices porta metus at vehicula. In posuere quam at quam lacinia scelerisque. Praesent venenatis luctus urna at volutpat.</p>

                            <p>Curabitur volutpat ante ac nulla mollis sodales non sed tortor. Vestibulum hendrerit ipsum at felis tempus faucibus. In felis nisi, gravida et urna sed, sagittis ullamcorper tortor. In vel eleifend quam. Vivamus bibendum molestie rhoncus. Proin faucibus tortor eu lorem ultrices mollis. Phasellus sed nisl eu eros blandit accumsan at non tortor. Duis id nisi velit. Maecenas bibendum maximus porttitor. Aliquam efficitur mi in nisi sagittis, vitae iaculis magna placerat. Pellentesque dictum nisi eu congue ultrices. Nullam viverra, metus et finibus eleifend, quam est aliquet ante, ut dictum tortor nibh et eros. Aliquam erat volutpat. Suspendisse rutrum venenatis ex quis lobortis. Donec ornare nisi id leo varius condimentum.</p>
                        </div>
                    {% endblock %}
                    {# {% block footer %}
                        {% if item.featured == false %}
                            {% include 'AppBundle:layout:footer2.html.twig' %}
                        {% else %}
                            {{parent()}}
                        {% endif %}

                    {% endblock %}
                    {% block header %}
                        {% if item.featured == false %}
                            {% include 'AppBundle:layout:header2.html.twig' %}
                        {% else %}
                            {{parent()}}
                        {% endif %}
                    {% endblock %} 

                    {% block title %}
                        {% if item.featured == false %}
                            Geopositioning Services
                        {% else %}
                            {{parent()}}
                        {% endif %}
                    {% endblock %} #}