<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Coding Depot{% endblock %}</title>
        {% block stylesheets %}
               {% stylesheets 
                'bundles/app/template/css/responsive.css'
                'bundles/app/template/css/camera.css'
                'bundles/app/template/css/flexslider.css'
                'bundles/app/template/css/owl.carousel.css'
                'bundles/app/template/css/owl.theme.css'
                'bundles/app/template/css/cherry-plugin.css'
                'bundles/app/template/css/lazy-load.css'
                'bundles/app/template/css/parallax.css'
                'bundles/app/template/css/style.css'
                'bundles/app/template/css/styles.css'
                'bundles/app/template/css/woocommerce-layout.css'
                'bundles/app/template/css/woocommerce.css'
                'bundles/app/template/css/colorbox.css'
                'bundles/app/template/css/prettyPhoto.css'
                'bundles/app/bootstrap/css/bootstrap.css'
                'bundles/app/css/mainc.css'
                %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            
        {% endblock %}
    </body>
</html>
