{% extends 'base.html.twig' %}

{% block body %}
    <div id="parallax-slider-58e771280f371" class="parallax-slider"><ul class="baseList"><li></div>
            <body class="single single-product postid-1958 woocommerce woocommerce-page has_woocommerce has_shop olrk-live-chat">
                <div id="" class="main-holder">
                    <div class="motopress-wrapper content-holder clearfix woocommerce">
                        <div class="container container-m-h">

                            <h1 class="text-center">{% trans %}Preguntas frecuentes{% endtrans %}</h1>

                            <h2>¿Qué es Coding Depot?</h2>
                            <p>Coding Depot es una tienda de código computacional en línea. Puedes comprar tutoriales para crear pequeñas aplicaciones y programas, sirve principalmente para resolver tareas de preparatoria y universidad. El paquete que recibes contiene el código fuente y una explicación para implementarlo.</p>
                            
                            <h2>¿Quienes crean este código?</h2>
                            <p>Nosotros tenemos a un grupo de expertos que comparten sus códigos. Estos no son códigos complicados, más bien están pensados en dar una ayuda rápida al estudiante que está aprendiendo programación.</p>

                            <h2>¿Puedo aportar código propio a la página?</h2>
                            <p>Por el momento no, ya que no es una página comunitaria si no una tienda en línea. En el futuro implementaremos un programa de asociados en donde podrás enviarnos código que evaluaremos, y si es bueno para ser comercializado, puedes recibir un porcentaje por cada descarga que éste tenga.</p>

                            <h2>{%trans%}¿Puedo reutilizar el código que recibo?{%endtrans%}</h2>
                            <p>Cuando descargas el código tienes derecho a utilizarlo de forma personal (por ejemplo, para la entrega de una tarea). No puedes retransmitirlo ni venderlo a terceros, por favor revisa los Términos y Condiciones para conocer todas las reglas.</p>

                            <h2>¿Para quién está enfocado este producto?</h2>
                            <p>Este producto está enfocado principalmente para estudiantes de programación, sin embargo, puede ser utilizado por cualquier entusiasta de la tecnología. Si eres un programador avanzado, es muy probable que encuentres este código demasiado básico.</p>

                            <h2>¿Por qué no usar mejor GitHub?</h2>
                            <p>GitHub es un repositorio de código que sirve para la colaboración o evaluación de desarrollos principalmente de código abierto. Coding Depot en cambio es una tienda en línea con un mercado especifico que abarca estudiantes y entusiastas principiantes en programación.</p>


                            <h2>¿Cuál es su política de reembolso?</h2>
                            <p>Nuestra política de reembolso es muy sencilla: si no tienes una satisfacción total en el producto que recibiste, te haremos un reembolso del 100% de lo pagado, puedes pedir este reembolso en cualquier momento. Asimismo, te comprometes a no redistribuir ni usar el proyecto descargado si has pedido este reembolso. Nuestro principal objetivo es tener una base de clientes satisfechos y aumentar el conocimiento e interés de los estudiantes hacia la programación.</p>
                        
                         {#<div class="flourish-embed" data-src="visualisation/479640"></div><script src="https://public.flourish.studio/resources/embed.js"></script> #}


                        </div>
                    {% endblock %}
                    {# {% block footer %}
                        {% if item.featured == false %}
                            {% include 'AppBundle:layout:footer2.html.twig' %}
                        {% else %}
                            {{parent()}}
                        {% endif %}

                    {% endblock %}
                    {% block header %}
                        {% if item.featured == false %}
                            {% include 'AppBundle:layout:header2.html.twig' %}
                        {% else %}
                            {{parent()}}
                        {% endif %}
                    {% endblock %}

                    {% block title %}
                        {% if item.featured == false %}
                            Geopositioning Services
                        {% else %}
                            {{parent()}}
                        {% endif %}
                    {% endblock %} #}