.bg-cat{
	background-color: #1f1f1f;
}

.light{
	color: #fff;
}

.orange{
	color: #FF5542;
}

.img-center{
	margin: auto;
}

.m-t-5{
	margin-top: 5%;
}

.sf-menu ul{
	display: block !important;
}

.container-fluid img{
	z-index: 10;
}

.p-item-img{
	width: 370px;
	height: 370px; 
	background-repeat: no-repeat; 
	background-size: contain; 
	background-position: center center;
}

.p-cat-c{
	width: auto;
	position: absolute;
	top: 0;
	left: 230px;
}

.p-cat-c-ot{
	width: auto;
	position: absolute;
	top: 5%;
	right: 0;
}


@media (min-width: 992px) {
	.visible-mb{
        display: none !important;
    }

	.parallax-slider{
    	height: 143px !important;
	}	
}

@media (max-width: 992px) {

	.all-prod-cat{
		top: 15% !important;
		right: 12% !important;
	}


	.visible-dk{
        display: none !important;
    }

	.product-large-image{
		width: 100% !important;
	}

	.p-item-img{
		width: 100%;
	}

	.p-cat-c{
		top: 3% !important;
		left: initial;
		right: 5% !important;
	}

	.p-cat-c-ot{
		top: 3% !important;
		left: initial;
		right: 14% !important;
	}

	.parallax-slider{
    	height: 0px !important;
	}

	.prel-mb .owl-next::after{
        content: '>';
        background: transparent;
        font-size: 37px;
        color: black;
    }

    .prel-mb .owl-prev::after{
        content: '<';
        background: transparent;
        font-size: 37px;
        color: black;
    }

    .producto-default{
	    width: 100%;
	    height: 300px; 
	    background-repeat: no-repeat; 
	    background-size: 80%; 
	    background-position: center center;
	}

	.int-row{
		width: 100%;
		text-align: center;
	}

	.int-row2{
		width: 104.5%;
		margin-left: -15px !important;
	}

	#int-row2{
		width: 104.5%;
	}

	.int-img{
		margin: auto;
		/*padding-right: 8%;*/
	}

	#text-2 a{
		text-align: center;
	}

	.m-a{
		margin: auto;
		padding-right: 4%;
	}

	.text-copy{
		/*padding-right: 5%;*/
	}

	#line-left{
		margin-left: -15px;
	}

	.owl-theme .owl-controls .owl-buttons div{
		background: transparent !important;
		opacity: 1 !important;
	}

	.category-slg-c{
	    width: auto;
	    position: absolute;
	    top: 12%;
        right: 15%;
	}

	.category-logo{
	    width: 70px;
	    height:70px;
	    background-size: contain;
	    background-repeat: no-repeat;
	}
}

.nav__primary .sf-menu > li > a{
	padding: 25px 13px  !important;
}

.paypal-button{
    padding: 0 !important;
}
body #motopress-main.main-holder .content-holder div.product button[type="submit"]{
    line-height: 17px !important;
}


/*	OPCIONES MENÚ	*/

.container-m-h{
	min-height: 400px;
}

.all-prod-cat{
	height: 100px;
	width: 100px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	position: absolute;
	top: 0;
	right: 22%;
}

.span-menu-container{
	width: 60% !important;
}