.bg-cat{
	background-color: #1f1f1f;
}

.light{
	color: #fff;
}

.orange{
	color: #FF5542;
}

.img-center{
	margin: auto;
}

.m-t-5{
	margin-top: 5%;
}

.sf-menu ul{
	display: block !important;
}

.container-fluid img{
	z-index: 10;
}

.parallax-slider{
    height: 143px !important;
}