.bg-cat{
	background-color: #1f1f1f;
}

.light{
	color: #fff;
}

.orange{
	color: #FF5542;
}

.img-center{
	margin: auto;
}

.m-t-5{
	margin-top: 5%;
}

.sf-menu ul{
	display: block !important;
}

.container-fluid img{
	z-index: 10;
}

.parallax-slider{
    height: 143px !important;
}

.p-item-img{
	width: 370px;
	height: 370px; 
	background-repeat: no-repeat; 
	background-size: contain; 
	background-position: center center;
}

.p-cat-c{
	width: auto;
	position: absolute;
	top: 0;
	left: 230px;
}

.p-cat-c-ot{
	width: auto;
	position: absolute;
	top: 5%;
	right: 0;
}

@media (max-width: 992px) {
	.product-large-image{
		width: 100% !important;
	}

	.p-item-img{
		width: 100%;
	}

	.p-cat-c{
		top: 3% !important;
		left: initial;
		right: 5% !important;
	}

	.p-cat-c-ot{
		top: 3% !important;
		left: initial;
		right: 14% !important;
	}
}
