{% extends 'base.html.twig' %}

{% block body %}

{% include 'AppBundle:layout:header.html.twig' %}

<div id="parallax-slider-58e771280f371" class="parallax-slider"><ul class="baseList"><li data-preview="https://livedemo00.template-help.com/woocommerce_57763/wp-content/uploads/2015/12/slide_01.png" data-thumb-url="https://livedemo00.template-help.com/woocommerce_57763/wp-content/uploads/2015/12/slide_01-100x50.png" data-ulr-link=""></div>

    {# INICIO DEL BODY #}


        <script src="https://livedemo00.template-help.com/woocommerce_57763/wp-content/themes/CherryFramework/js/jquery.mobile.customized.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            jQuery(function(){
                jQuery('.sf-menu').mobileMenu({defaultText: "Navigate to..."});
            });
        </script>
    <!--<![endif]-->
    <script type="text/javascript">
        // Init navigation menu
        jQuery(function(){
        // main navigation init
            jQuery('ul.sf-menu').superfish({
                delay: 1000, // the delay in milliseconds that the mouse can remain outside a sub-menu without it closing
                animation: {
                    opacity: "show",
                    height: "show"
                }, // used to animate the sub-menu open
                speed: "normal", // animation speed
                autoArrows: false, // generation of arrow mark-up (for submenu)
                disableHI: true // to disable hoverIntent detection
            });

        //Zoom fix
        //IPad/IPhone
            var viewportmeta = document.querySelector && document.querySelector('meta[name="viewport"]'),
                ua = navigator.userAgent,
                gestureStart = function () {
                    viewportmeta.content = "width=device-width, minimum-scale=0.25, maximum-scale=1.6, initial-scale=1.0";
                },
                scaleFix = function () {
                    if (viewportmeta && /iPhone|iPad/.test(ua) && !/Opera Mini/.test(ua)) {
                        viewportmeta.content = "width=device-width, minimum-scale=1.0, maximum-scale=1.0";
                        document.addEventListener("gesturestart", gestureStart, false);
                    }
                };
            scaleFix();
        })
    </script>
    <!-- stick up menu -->
    <script type="text/javascript">
        jQuery(document).ready(function(){
            if(!device.mobile() && !device.tablet()){
                jQuery('.header .header-content').tmStickUp({
                    correctionSelector: jQuery('#wpadminbar')
                ,   listenSelector: jQuery('.listenSelector')
                ,   active: false               ,   pseudo: true                });
            }
        })
    </script>
</head>

<body class="single single-product postid-1958 woocommerce woocommerce-page has_woocommerce has_shop olrk-live-chat">
    <div id="motopress-main" class="main-holder">
        <!--Begin #motopress-main-->
        
    <div class="motopress-wrapper content-holder clearfix woocommerce">
    <div class="container">
        <div class="row">
            <div class="span12" data-motopress-type="static" data-motopress-static-file="static/static-title.php">
                <section class="title-section">

    </section><!-- .title-section -->           </div>
        </div>
        <div class="row">
            <div class="span12" id="content">
        
            

<div itemscope itemtype="https://schema.org/Product" id="product-1958" class="post-1958 product type-product status-publish has-post-thumbnail product_cat-cpus product_cat-motherboards product_tag-branding product_tag-consulting product_tag-customer-service product_tag-ethics shipping-taxable purchasable product-type-simple product-cat-cpus product-cat-motherboards product-tag-branding product-tag-consulting product-tag-customer-service product-tag-ethics instock">

    <div class="product-images">
            
        <div class="product-large-image">
        <img width="370" height="370" src="https://livedemo00.template-help.com/woocommerce_57763/wp-content/uploads/2015/10/MSI-GTX-980Ti-GAMING-6G-NVIDIA-GeForce-PCI-Express-3-370x370.png" class="attachment-shop_single wp-post-image" alt="MSI GTX 980Ti GAMING 6G" itemprop="image" data-zoom-image="https://livedemo00.template-help.com/woocommerce_57763/wp-content/uploads/2015/10/MSI-GTX-980Ti-GAMING-6G-NVIDIA-GeForce-PCI-Express-3.png" data-initial-thumb="https://livedemo00.template-help.com/woocommerce_57763/wp-content/uploads/2015/10/MSI-GTX-980Ti-GAMING-6G-NVIDIA-GeForce-PCI-Express-3-370x370.png" data-initial-thumb-large="https://livedemo00.template-help.com/woocommerce_57763/wp-content/uploads/2015/10/MSI-GTX-980Ti-GAMING-6G-NVIDIA-GeForce-PCI-Express-3.png" title="MSI GTX 980Ti GAMING 6G" />        </div>
    </div>
    <div class="summary entry-summary">

        <h1 itemprop="name" class="product_title entry-title">MSI GTX 980Ti GAMING 6G</h1>

    <div class="woocommerce-product-rating" itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
        <div class="star-rating" title="Rated 4.33 out of 5">
            <span style="width:86.6%">
                <strong itemprop="ratingValue" class="rating">4.33</strong> out of <span itemprop="bestRating">5</span>             based on <span itemprop="ratingCount" class="rating">3</span> customer ratings          </span>
        </div>
        <a href="#reviews" class="woocommerce-review-link" rel="nofollow">(<span itemprop="reviewCount" class="count">3</span> customer reviews)</a>    </div>

<div itemprop="offers" itemscope itemtype="https://schema.org/Offer">

    <p class="price"><span class="amount">&#36;95.00</span></p>

    <meta itemprop="price" content="95" />
    <meta itemprop="priceCurrency" content="USD" />
    <link itemprop="availability" href="https://schema.org/InStock" />

</div>
<div itemprop="description">
    <p>We are living in the epoch of great technical progress and we are sure that new technologies are our future.</p>
</div>

<p class="stock in-stock">150 in stock</p>

    
    <form class="cart" method="post" enctype='multipart/form-data'>
        
        <div class="quantity"><input type="number" step="1" min="1" max="150" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" /></div>

        <input type="hidden" name="add-to-cart" value="1958" />

        <button type="submit" class="single_add_to_cart_button button alt">Add to cart</button>

            </form>

    
<div class="clear"></div>
<div class="yith-wcwl-add-to-wishlist add-to-wishlist-1958">
            <div class="yith-wcwl-add-button show" style="display:block">

            
<a href="/woocommerce_57763/product/product-15/?add_to_wishlist=1958" rel="nofollow" data-product-id="1958" data-product-type="simple" class="add_to_wishlist" >
        Add to Wishlist</a>
<img src="https://livedemo00.template-help.com/woocommerce_57763/wp-content/plugins/yith-woocommerce-wishlist/assets/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
        </div>

        <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
            <span class="feedback">Product added!</span>
            <a href="https://livedemo00.template-help.com/woocommerce_57763/wishlist/view/" >
                Browse Wishlist         </a>
        </div>

        <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
            <span class="feedback">The product is already in the wishlist!</span>
            <a href="https://livedemo00.template-help.com/woocommerce_57763/wishlist/view/">
                Browse Wishlist         </a>
        </div>

        <div style="clear:both"></div>
        <div class="yith-wcwl-wishlistaddresponse"></div>
    
</div>

<div class="clear"></div><a href="/woocommerce_57763/product/product-15/?action=yith-woocompare-add-product&amp;id=1958&amp;_wpnonce=e52d578623" class="compare" data-product_id="1958">Compare</a><div class="product_meta">

    
    
    <span class="posted_in">Categories: <a href="https://livedemo00.template-help.com/woocommerce_57763/product-category/cpus/" rel="tag">CPUs</a>, <a href="https://livedemo00.template-help.com/woocommerce_57763/product-category/motherboards/" rel="tag">Motherboards</a></span>
    <span class="tagged_as">Tags: <a href="https://livedemo00.template-help.com/woocommerce_57763/product-tag/branding/" rel="tag">branding</a>, <a href="https://livedemo00.template-help.com/woocommerce_57763/product-tag/consulting/" rel="tag">consulting</a>, <a href="https://livedemo00.template-help.com/woocommerce_57763/product-tag/customer-service/" rel="tag">customer service</a>, <a href="https://livedemo00.template-help.com/woocommerce_57763/product-tag/ethics/" rel="tag">ethics</a></span>
    
</div>

<div class="share-buttons"><div class="share-buttons_item"><a href="#" data-url="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flivedemo00.template-help.com%2Fwoocommerce_57763%2Fproduct%2Fproduct-15%2F" class="share-buttons_link link-facebook"><i class="icon-facebook"></i></a></div><div class="share-buttons_item"><a href="#" data-url="https://twitter.com/intent/tweet?url=http%3A%2F%2Flivedemo00.template-help.com%2Fwoocommerce_57763%2Fproduct%2Fproduct-15%2F&status=MSI+GTX+980Ti+GAMING+6G+-+http%3A%2F%2Flivedemo00.template-help.com%2Fwoocommerce_57763%2Fproduct%2Fproduct-15%2F" class="share-buttons_link link-twitter"><i class="icon-twitter"></i></a></div><div class="share-buttons_item"><a href="#" data-url="https://plus.google.com/share?url=http%3A%2F%2Flivedemo00.template-help.com%2Fwoocommerce_57763%2Fproduct%2Fproduct-15%2F" class="share-buttons_link link-google-plus"><i class="icon-google-plus"></i></a></div><div class="share-buttons_item"><a href="#" data-url="https://pinterest.com/pin/create/bookmarklet/?media=http%3A%2F%2Flivedemo00.template-help.com%2Fwoocommerce_57763%2Fwp-content%2Fuploads%2F2015%2F10%2FMSI-GTX-980Ti-GAMING-6G-NVIDIA-GeForce-PCI-Express-3.png&url=http%3A%2F%2Flivedemo00.template-help.com%2Fwoocommerce_57763%2Fproduct%2Fproduct-15%2F&is_video=false&description=MSI+GTX+980Ti+GAMING+6G+-+http%3A%2F%2Flivedemo00.template-help.com%2Fwoocommerce_57763%2Fproduct%2Fproduct-15%2F" class="share-buttons_link link-pinterest"><i class="icon-pinterest"></i></a></div></div>
    </div><!-- .summary -->

    
    <div class="woocommerce-tabs wc-tabs-wrapper">
        <ul class="tabs wc-tabs">
                            <li class="description_tab">
                    <a href="#tab-description">Description</a>
                </li>
                            <li class="reviews_tab">
                    <a href="#tab-reviews">Reviews (3)</a>
                </li>
                            <li class="cherry_wc_video_tab">
                    <a href="#tab-cherry_wc_video">Video</a>
                </li>
                    </ul>
                    <div class="panel entry-content wc-tab" id="tab-description">
                
  <h2>Product Description</h2>

<p>We are living in the epoch of great technical progress and we are sure that new technologies are our future. You know that computers are being applied in all spheres of society. It is a tremendous achievement of mankind. It is totally safe for environment and for the people, it runs with electricity. The most important thing is that the computer technology has great perspectives for further development and it could be called a panacea for humanity. It seems that computer is such a revolutionary invention that we could not even realize the true extent of its significance.  Some people are even afraid of such rapid and striking computer expansion; they state that mankind is in danger because of it. Their main argument is the problem of artificial intelligence. But we hope that all these problems will disappear soon.</p>
<p>So, it is natural that this sphere is one of the most popular and it is really hard to offer computer hardware because of great number of competitors. We are providing a great choice of different commodities. We are producing reliable and durable goods.  That is why we are always in touch with the latest new inventions and improvements. There is no doubt that we are the leaders and you don’t have to worry about our reputation because it is perfect. We have a great number of different but grateful customers and this fact proves that our goods are of high quality and fair price. We’re sure that no one could stay indifferent because everybody wants to get professionally made up product and pay a fair price for that.</p>
<p>We can help you solve any problem because we provide only rational solutions. We can satisfy customers with different claims. Nowadays we have a problem of choice because we are living in society of total consumption and this process gives a negative effect. Simple customer has a problem of a lack of information. And we have a superb 24/7 support system where you can get more information about our products, terms, delivery system and much more. </p>
            </div>
                    <div class="panel entry-content wc-tab" id="tab-reviews">
                <div id="reviews">
    <div id="comments">
        <h2>3 reviews for MSI GTX 980Ti GAMING 6G</h2>

        
            <ol class="commentlist">
                <li itemprop="review" itemscope itemtype="https://schema.org/Review" class="comment even thread-even depth-1" id="li-comment-68">

    <div id="comment-68" class="comment_container">

        <img alt='' src='https://1.gravatar.com/avatar/1f5ae5c9311a4f9d7928bbe8d6ee7504?s=60&#038;d=mm&#038;r=g' srcset='https://1.gravatar.com/avatar/1f5ae5c9311a4f9d7928bbe8d6ee7504?s=120&amp;d=mm&amp;r=g 2x' class='avatar avatar-60 photo' height='60' width='60' />
        <div class="comment-text">

            
                <div itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating" class="star-rating" title="Rated 5 out of 5">
                    <span style="width:100%"><strong itemprop="ratingValue">5</strong> out of 5</span>
                </div>

            
            
                <p class="meta">
                    <strong itemprop="author">Olivia Grosh</strong> &ndash; <time itemprop="datePublished" datetime="2015-09-29T13:50:30+00:00">September 29, 2015</time>:
                </p>

            
            <div itemprop="description" class="description"><p>Made a purchase at your store recently. The order has been shipped and delivered on time. The quality is superb! The price is quite reasonable. Told all my friends about your excellent service and the variety of choice. I think I&#8217;ll be your loyal customer in future as well. I wish your store many more years of prosperity.</p>
</div>
        </div>
    </div>
</li><!-- #comment-## -->
<li itemprop="review" itemscope itemtype="https://schema.org/Review" class="comment odd alt thread-odd thread-alt depth-1" id="li-comment-69">

    <div id="comment-69" class="comment_container">

        <img alt='' src='https://1.gravatar.com/avatar/7009b2d8b1f9554869e05fce20feb251?s=60&#038;d=mm&#038;r=g' srcset='https://1.gravatar.com/avatar/7009b2d8b1f9554869e05fce20feb251?s=120&amp;d=mm&amp;r=g 2x' class='avatar avatar-60 photo' height='60' width='60' />
        <div class="comment-text">

            
                <div itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating" class="star-rating" title="Rated 4 out of 5">
                    <span style="width:80%"><strong itemprop="ratingValue">4</strong> out of 5</span>
                </div>

            
            
                <p class="meta">
                    <strong itemprop="author">Alan Smith</strong> &ndash; <time itemprop="datePublished" datetime="2015-09-29T13:50:46+00:00">September 29, 2015</time>:
                </p>

            
            <div itemprop="description" class="description"><p>I have experienced the fastest support ever. My order arrived on my door step the following day. Your team is always, friendly and very helpful. You managed to exceed my expectations!</p>
</div>
        </div>
    </div>
</li><!-- #comment-## -->
<li itemprop="review" itemscope itemtype="https://schema.org/Review" class="comment even thread-even depth-1" id="li-comment-70">

    <div id="comment-70" class="comment_container">

        <img alt='' src='https://0.gravatar.com/avatar/f55afb6ff2f19007170cf29ab1a0c5f0?s=60&#038;d=mm&#038;r=g' srcset='https://0.gravatar.com/avatar/f55afb6ff2f19007170cf29ab1a0c5f0?s=120&amp;d=mm&amp;r=g 2x' class='avatar avatar-60 photo' height='60' width='60' />
        <div class="comment-text">

            
                <div itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating" class="star-rating" title="Rated 4 out of 5">
                    <span style="width:80%"><strong itemprop="ratingValue">4</strong> out of 5</span>
                </div>

            
            
                <p class="meta">
                    <strong itemprop="author">John Anderson</strong> &ndash; <time itemprop="datePublished" datetime="2015-09-29T13:51:43+00:00">September 29, 2015</time>:
                </p>

            
            <div itemprop="description" class="description"><p>I love it! Thank you! What a fast service&#8230;you guys are great! I wish every site was like this one</p>
</div>
        </div>
    </div>
</li><!-- #comment-## -->
            </ol>

            
            </div>

    
        <div id="review_form_wrapper">
            <div id="review_form">
                                        <div id="respond" class="comment-respond">
                <h3 id="reply-title" class="comment-reply-title">Add a review <small><a rel="nofollow" id="cancel-comment-reply-link" href="/woocommerce_57763/product/product-15/#respond" style="display:none;">Cancel reply</a></small></h3>
                                    <form action="https://livedemo00.template-help.com/woocommerce_57763/wp-comments-post.php" method="post" id="commentform" class="comment-form">
                                                                                                        <p class="comment-form-author"><label for="author">Name <span class="required">*</span></label> <input id="author" name="author" type="text" value="" size="30" aria-required="true" /></p>
<p class="comment-form-email"><label for="email">Email <span class="required">*</span></label> <input id="email" name="email" type="text" value="" size="30" aria-required="true" /></p>
                                                <p class="comment-form-rating"><label for="rating">Your Rating</label><select name="rating" id="rating">
                            <option value="">Rate&hellip;</option>
                            <option value="5">Perfect</option>
                            <option value="4">Good</option>
                            <option value="3">Average</option>
                            <option value="2">Not that bad</option>
                            <option value="1">Very Poor</option>
                        </select></p><p class="comment-form-comment"><label for="comment">Your Review</label><textarea id="comment" name="comment" cols="45" rows="8" aria-required="true"></textarea></p>                      
                        <p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Submit" /> <input type='hidden' name='comment_post_ID' value='1958' id='comment_post_ID' />
<input type='hidden' name='comment_parent' id='comment_parent' value='0' />
</p>                    </form>
                            </div><!-- #respond -->
                        </div>
        </div>

    
    <div class="clear"></div>
</div>
            </div>
                    <div class="panel entry-content wc-tab" id="tab-cherry_wc_video">
                <iframe width="1140" height="641" src="https://www.youtube.com/embed/RBQ8WrYxHMk?feature=oembed" frameborder="0" allowfullscreen></iframe>          </div>
            </div>


    <div class="related products">

        <h2>Related Products</h2>

        <ul class="products">
            
                <li class="first post-1942 product type-product status-publish has-post-thumbnail product_cat-cpus product_tag-branding product_tag-consulting product_tag-customer-service product_tag-ethics sale shipping-taxable purchasable product-type-simple product-cat-cpus product-tag-branding product-tag-consulting product-tag-customer-service product-tag-ethics instock">

    
    <a href="https://livedemo00.template-help.com/woocommerce_57763/product/product-11/">

        <div class="cherry-thumb-wrap">
    <span class="onsale">Sale!</span>
<img width="300" height="300" src="https://livedemo00.template-help.com/woocommerce_57763/wp-content/uploads/2015/10/ARCTIC-Freezer-7-Pro-Rev-2-150-Watt-Multicompatible-Low-Noise-CPU-Cooler-for-AMD-and-Intel-Sockets_04-300x300.png" class="attachment-shop_catalog wp-post-image" alt="ARCTIC-Freezer-7-Pro-Rev-2---150-Watt-Multicompatible-Low-Noise-CPU-Cooler-for-AMD-and-Intel-Sockets_04" /><span class="btn cherry-quick-view" data-product="1942">Quick view</span></div><h3>ARCTIC Freezer 7... </h3>

    <div class="star-rating" title="Rated 4.00 out of 5"><span style="width:80%"><strong class="rating">4.00</strong> out of 5</span></div>
    <span class="price"><del><span class="amount">&#36;94.50</span></del> <ins><span class="amount">&#36;80.00</span></ins></span>

    </a>

    <a href="/woocommerce_57763/product/product-15/?add-to-cart=1942" rel="nofollow" data-product_id="1942" data-product_sku="" data-quantity="1" class="button add_to_cart_button product_type_simple">Add to cart</a><div class="product-list-buttons"><a href="/woocommerce_57763/product/product-15/?action=yith-woocompare-add-product&amp;id=1942&amp;_wpnonce=e52d578623" class="compare" data-product_id="1942">Compare</a>
<div class="yith-wcwl-add-to-wishlist add-to-wishlist-1942">
            <div class="yith-wcwl-add-button show" style="display:block">

            
<a href="/woocommerce_57763/product/product-15/?add_to_wishlist=1942" rel="nofollow" data-product-id="1942" data-product-type="simple" class="add_to_wishlist" >
        Add to Wishlist</a>
<img src="https://livedemo00.template-help.com/woocommerce_57763/wp-content/plugins/yith-woocommerce-wishlist/assets/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
        </div>

        <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
            <span class="feedback">Product added!</span>
            <a href="https://livedemo00.template-help.com/woocommerce_57763/wishlist/view/" >
                Browse Wishlist         </a>
        </div>

        <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
            <span class="feedback">The product is already in the wishlist!</span>
            <a href="https://livedemo00.template-help.com/woocommerce_57763/wishlist/view/">
                Browse Wishlist         </a>
        </div>

        <div style="clear:both"></div>
        <div class="yith-wcwl-wishlistaddresponse"></div>
    
</div>

<div class="clear"></div></div>
</li>

            
                <li class="post-1930 product type-product status-publish has-post-thumbnail product_cat-cpus product_tag-branding product_tag-consulting product_tag-customer-service product_tag-ethics shipping-taxable purchasable product-type-simple product-cat-cpus product-tag-branding product-tag-consulting product-tag-customer-service product-tag-ethics instock">

    
    <a href="https://livedemo00.template-help.com/woocommerce_57763/product/product-8/">

        <div class="cherry-thumb-wrap"><img width="300" height="300" src="https://livedemo00.template-help.com/woocommerce_57763/wp-content/uploads/2015/10/EVGA-GeForce-GTX-980-Ti-SC-ACX-4-300x300.png" class="attachment-shop_catalog wp-post-image" alt="EVGA-GeForce-GTX-980-Ti-SC-ACX-4" /><span class="btn cherry-quick-view" data-product="1930">Quick view</span></div><h3>EVGA GeForce GTX-980... </h3>

    <div class="star-rating" title="Rated 4.67 out of 5"><span style="width:93.4%"><strong class="rating">4.67</strong> out of 5</span></div>
    <span class="price"><span class="amount">&#36;99.50</span></span>

    </a>

    <a href="/woocommerce_57763/product/product-15/?add-to-cart=1930" rel="nofollow" data-product_id="1930" data-product_sku="" data-quantity="1" class="button add_to_cart_button product_type_simple">Add to cart</a><div class="product-list-buttons"><a href="/woocommerce_57763/product/product-15/?action=yith-woocompare-add-product&amp;id=1930&amp;_wpnonce=e52d578623" class="compare" data-product_id="1930">Compare</a>
<div class="yith-wcwl-add-to-wishlist add-to-wishlist-1930">
            <div class="yith-wcwl-add-button show" style="display:block">

            
<a href="/woocommerce_57763/product/product-15/?add_to_wishlist=1930" rel="nofollow" data-product-id="1930" data-product-type="simple" class="add_to_wishlist" >
        Add to Wishlist</a>
<img src="https://livedemo00.template-help.com/woocommerce_57763/wp-content/plugins/yith-woocommerce-wishlist/assets/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
        </div>

        <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
            <span class="feedback">Product added!</span>
            <a href="https://livedemo00.template-help.com/woocommerce_57763/wishlist/view/" >
                Browse Wishlist         </a>
        </div>

        <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
            <span class="feedback">The product is already in the wishlist!</span>
            <a href="https://livedemo00.template-help.com/woocommerce_57763/wishlist/view/">
                Browse Wishlist         </a>
        </div>

        <div style="clear:both"></div>
        <div class="yith-wcwl-wishlistaddresponse"></div>
    
</div>

<div class="clear"></div></div>
</li>

            
                <li class="post-1924 product type-product status-publish has-post-thumbnail product_cat-cpus product_cat-motherboards product_tag-branding product_tag-consulting product_tag-customer-service product_tag-ethics shipping-taxable purchasable product-type-simple product-cat-cpus product-cat-motherboards product-tag-branding product-tag-consulting product-tag-customer-service product-tag-ethics instock">

    
    <a href="https://livedemo00.template-help.com/woocommerce_57763/product/product-6/">

        <div class="cherry-thumb-wrap"><img width="300" height="300" src="https://livedemo00.template-help.com/woocommerce_57763/wp-content/uploads/2015/10/VisionTek-Radeon-R9-390-8GB-GDDR5-PCI-Express-Graphics-Card_01-300x300.png" class="attachment-shop_catalog wp-post-image" alt="VisionTek-Radeon-R9-390-8GB-GDDR5-PCI-Express-Graphics-Card_01" /><span class="btn cherry-quick-view" data-product="1924">Quick view</span></div><h3>VisionTek Radeon R9... </h3>

    <div class="star-rating" title="Rated 3.67 out of 5"><span style="width:73.4%"><strong class="rating">3.67</strong> out of 5</span></div>
    <span class="price"><span class="amount">&#36;68.00</span></span>

    </a>

    <a href="/woocommerce_57763/product/product-15/?add-to-cart=1924" rel="nofollow" data-product_id="1924" data-product_sku="" data-quantity="1" class="button add_to_cart_button product_type_simple">Add to cart</a><div class="product-list-buttons"><a href="/woocommerce_57763/product/product-15/?action=yith-woocompare-add-product&amp;id=1924&amp;_wpnonce=e52d578623" class="compare" data-product_id="1924">Compare</a>
<div class="yith-wcwl-add-to-wishlist add-to-wishlist-1924">
            <div class="yith-wcwl-add-button show" style="display:block">

            
<a href="/woocommerce_57763/product/product-15/?add_to_wishlist=1924" rel="nofollow" data-product-id="1924" data-product-type="simple" class="add_to_wishlist" >
        Add to Wishlist</a>
<img src="https://livedemo00.template-help.com/woocommerce_57763/wp-content/plugins/yith-woocommerce-wishlist/assets/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
        </div>

        <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
            <span class="feedback">Product added!</span>
            <a href="https://livedemo00.template-help.com/woocommerce_57763/wishlist/view/" >
                Browse Wishlist         </a>
        </div>

        <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
            <span class="feedback">The product is already in the wishlist!</span>
            <a href="https://livedemo00.template-help.com/woocommerce_57763/wishlist/view/">
                Browse Wishlist         </a>
        </div>

        <div style="clear:both"></div>
        <div class="yith-wcwl-wishlistaddresponse"></div>
    
</div>

<div class="clear"></div></div>
</li>

            
                <li class="last post-1920 product type-product status-publish has-post-thumbnail product_cat-cpus product_tag-branding product_tag-consulting product_tag-customer-service product_tag-ethics shipping-taxable purchasable product-type-variable product-cat-cpus product-tag-branding product-tag-consulting product-tag-customer-service product-tag-ethics instock">

    
    <a href="https://livedemo00.template-help.com/woocommerce_57763/product/product-2/">

        <div class="cherry-thumb-wrap"><img width="300" height="300" src="https://livedemo00.template-help.com/woocommerce_57763/wp-content/uploads/2015/10/Beats-by-Dr-1-300x300.png" class="attachment-shop_catalog wp-post-image" alt="Beats-by-Dr-1" /><span class="btn cherry-quick-view" data-product="1920">Quick view</span></div><h3>Beats by Dr</h3>

    <div class="star-rating" title="Rated 4.33 out of 5"><span style="width:86.6%"><strong class="rating">4.33</strong> out of 5</span></div>
    <span class="price"><span class="amount">&#36;58.00</span>&ndash;<span class="amount">&#36;77.00</span></span>

    </a>

    <a href="https://livedemo00.template-help.com/woocommerce_57763/product/product-2/" rel="nofollow" data-product_id="1920" data-product_sku="" data-quantity="1" class="button add_to_cart_button product_type_variable">Select options</a><div class="product-list-buttons"><a href="/woocommerce_57763/product/product-15/?action=yith-woocompare-add-product&amp;id=1920&amp;_wpnonce=e52d578623" class="compare" data-product_id="1920">Compare</a>
<div class="yith-wcwl-add-to-wishlist add-to-wishlist-1920">
            <div class="yith-wcwl-add-button show" style="display:block">

            
<a href="/woocommerce_57763/product/product-15/?add_to_wishlist=1920" rel="nofollow" data-product-id="1920" data-product-type="variable" class="add_to_wishlist" >
        Add to Wishlist</a>
<img src="https://livedemo00.template-help.com/woocommerce_57763/wp-content/plugins/yith-woocommerce-wishlist/assets/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility:hidden" />
        </div>

        <div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
            <span class="feedback">Product added!</span>
            <a href="https://livedemo00.template-help.com/woocommerce_57763/wishlist/view/" >
                Browse Wishlist         </a>
        </div>

        <div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
            <span class="feedback">The product is already in the wishlist!</span>
            <a href="https://livedemo00.template-help.com/woocommerce_57763/wishlist/view/">
                Browse Wishlist         </a>
        </div>

        <div style="clear:both"></div>
        <div class="yith-wcwl-wishlistaddresponse"></div>
    
</div>

<div class="clear"></div></div>
</li>

            
        </ul>
    </div>


    <meta itemprop="url" content="https://livedemo00.template-help.com/woocommerce_57763/product/product-15/" />

</div><!-- #product-1958 -->


        
                </div>
        </div>
    </div>
</div>


    {# FIN DEL BODY #}

{% include 'AppBundle:layout:footer.html.twig' %}

{% endblock %}