{% stylesheets 'bundles/app/template/css/custom-footer.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

<div class="clear"></div>
<footer class="motopress-wrapper footer">
    <div class="container">
        <div class="home_text_number">
            <div class="home_text_number_wrap_inner">
                <div class="row ">
                    <div class="span4 ">
                        <h3>20</h3>
                        <p>{% trans %}Gurus de código{% endtrans %}</p>
                    </div>
                    <div class="span4">
                        <h3>1,500</h3>
                        <p>{% trans %}Scripts{% endtrans %}</p>
                    </div>
                    <div class="span4 ">
                        <div class="content_box text_number_header ">
                            <h3>85%</h3>
                            <div class="clear"></div>
                        </div> 
                        <p>{% trans %}Clientes vuelven{% endtrans %}</p>
                    </div>
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="span12" data-motopress-wrapper-file="wrapper/wrapper-footer.php" data-motopress-wrapper-type="footer" data-motopress-id="58e7712916bdd">
                <div class="row footer-widgets">
                    <div class="span3" data-motopress-type="dynamic-sidebar" data-motopress-sidebar-id="footer-sidebar-1"></div>
                    <div class="span3" data-motopress-type="dynamic-sidebar" data-motopress-sidebar-id="footer-sidebar-2"></div>
                    <div class="span3" data-motopress-type="dynamic-sidebar" data-motopress-sidebar-id="footer-sidebar-3"></div>
                    <div class="span3" data-motopress-type="dynamic-sidebar" data-motopress-sidebar-id="footer-sidebar-4"></div>
                </div>
                <div class="row">
                    <div class="span12 footer-content">
                        <div class="row">
                            <div class="span4">
                                <div class="footer-logo">
                                    <a href="/">
                                        {% image '@AppBundle/Resources/public/img/logo-footer.png' %}
                                            <img src="{{ asset_url }}" alt="" class='img-responsive' />
                                        {% endimage %}
                                    </a>
                                </div> 
                                <div id="text-2" class="visible-all-devices footer-contacts"> 
                                    <div class="textwidget">
                                        <a class="email" href="mailto: info@coding-depot.com">
                                            <span class="__cf_email__">info@coding-depot.com</span>
                                        </a>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row copyright">
                    <div class="span12" data-motopress-type="static" data-motopress-static-file="static/static-footer-text.php">
                        <div id="footer-text" class="footer-text">

                        <p>{% trans %}Todos los derechos reservados{% endtrans %}, {{ "now"|date("Y") }}</p>
                         
                        </div> 
                    </div>
                </div> 
            </div>
        </div>
    </div>
</footer>
</div>

<div id="back-top-wrapper" class="visible-desktop">
    <p id="back-top">
    <a href="#top"><span></span></a> </p>
</div>