
<style type="text/css">
    footer.footer::before{
        background: transparent !important; 
    }

    footer.footer{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .footer-content{
        padding-bottom: 0 !important;
    }

    .footer-content .footer-logo{
        margin-bottom: 15px;
    }

    .home_text_number{
        padding: 20px 0 40px !important;
    }

    .span4{
        width: 360px !important;
    }
</style>

<div class="clear"></div>
<footer class="motopress-wrapper footer">
    <div class="container">
        <div class="home_text_number">
            <div class="home_text_number_wrap_inner">
                <div class="row ">
                    <div class="span4 ">
                        <h3>20</h3>
                        <p>{% trans %}Gurus de código{% endtrans %}</p>
                    </div>
                    <div class="span4">
                        <h3>1,500</h3>
                        <p>{% trans %}Scripts{% endtrans %}</p>
                    </div>
                    <div class="span4 ">
                        <div class="content_box text_number_header ">
                            <h3>85%</h3>
                            <div class="clear"></div>
                        </div> 
                        <p>{% trans %}Clientes vuelven{% endtrans %}</p>
                    </div>
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="span12" data-motopress-wrapper-file="wrapper/wrapper-footer.php" data-motopress-wrapper-type="footer" data-motopress-id="58e7712916bdd">
                <div class="row footer-widgets">
                    <div class="span3" data-motopress-type="dynamic-sidebar" data-motopress-sidebar-id="footer-sidebar-1"></div>
                    <div class="span3" data-motopress-type="dynamic-sidebar" data-motopress-sidebar-id="footer-sidebar-2"></div>
                    <div class="span3" data-motopress-type="dynamic-sidebar" data-motopress-sidebar-id="footer-sidebar-3"></div>
                    <div class="span3" data-motopress-type="dynamic-sidebar" data-motopress-sidebar-id="footer-sidebar-4"></div>
                </div>
                <div class="row">
                    <div class="span12 footer-content">
                        <div class="row">
                            <div class="span4">
                                <div class="footer-logo">
                                    <a href="/">
                                        {% image '@AppBundle/Resources/public/img/logo-footer.png' %}
                                            <img src="{{ asset_url }}" alt="" class='img-responsive' />
                                        {% endimage %}
                                    </a>
                                </div> 
                                <div id="text-2" class="visible-all-devices footer-contacts"> 
                                    <div class="textwidget">
                                        <a class="email" href="mailto: info@coding-depot.com">
                                            <span class="__cf_email__">info@coding-depot.com</span>
                                        </a>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row copyright">
                    <div class="span12" data-motopress-type="static" data-motopress-static-file="static/static-footer-text.php">
                        <div id="footer-text" class="footer-text">

                        <p>{% trans %}Todos los derechos reservados{% endtrans %}, {{ "now"|date("Y") }}</p>
                         
                        </div> 
                    </div>
                </div> 
            </div>
        </div>
    </div>
</footer>
</div>

<div id="back-top-wrapper" class="visible-desktop">
    <p id="back-top">
    <a href="#top"><span></span></a> </p>
</div>
 










    {# AÑADIR A LAYOUT #}
<script type='text/javascript' src='https://livedemo00.template-help.com/woocommerce_57763/wp-content/plugins/cherry-lazy-load-master/js/device.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://livedemo00.template-help.com/woocommerce_57763/wp-content/plugins/cherry-woocommerce-package/assets/js/script.js?ver=1.2.0'></script>
<script type='text/javascript' src='https://livedemo00.template-help.com/woocommerce_57763/wp-content/themes/CherryFramework/js/superfish.js?ver=1.5.3'></script>
<script type='text/javascript' src='https://livedemo00.template-help.com/woocommerce_57763/wp-content/themes/CherryFramework/js/jquery.mobilemenu.js?ver=1.0'></script>
<script type='text/javascript' src='https://livedemo00.template-help.com/woocommerce_57763/wp-content/themes/CherryFramework/js/tmstickup.js?ver=1.0.0'></script>



<script type='text/javascript' src='https://livedemo00.template-help.com/woocommerce_57763/wp-content/themes/theme57763/js/custom-script.js?ver=1.0'></script>
<script type='text/javascript' src='https://livedemo00.template-help.com/woocommerce_57763/wp-content/themes/theme57763/parallax-slider/js/parallaxSlider.js?ver=1.0'></script>
<script type='text/javascript' src='https://livedemo00.template-help.com/woocommerce_57763/wp-content/plugins/cherry-woocommerce-package/assets/js/owl.carousel.min.js?ver=1.2.0'></script>
