{% stylesheets 'bundles/app/template/css/custom-footer.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

<div class="clear"></div>
<footer class="motopress-wrapper footer">
    <div class="container">
        <div class="home_text_number">
            <div id="stats-g-c" class="home_text_number_wrap_inner">
                <div class="row ">
                    <div class="span4 ">
                        <h3>8</h3>
                        <p>{% trans %}Tutoriales{% endtrans %}</p>
                    </div>
                    <div class="span4">
                        <h3>12</h3>
                        <p>{% trans %}Scripts{% endtrans %}</p>
                    </div>
                    <div class="span4 ">
                        <div class="content_box text_number_header ">
                            <h3>4</h3>
                            <div class="clear"></div>
                        </div> 
                        <p>{% trans %}Lenguajes de Programación{% endtrans %}</p>
                    </div>
                </div> 
            </div>
        </div>
        <div class="row int-row2"> 
            <div class="span12" data-motopress-wrapper-type="footer" data-motopress-id="58e7712916bdd">
                <div class="row" id="int-row2">
                    <div class="span12 footer-content">
                        <div class="row">
                            <div class="span4 footer-c">
                                <div class="footer-logo">
                                    <a href="/">
                                        {% image '@AppBundle/Resources/public/img/logo-footer.png' %}
                                            <img src="{{ asset_url }}" alt="" class='img-responsive int-img' />
                                        {% endimage %}
                                    </a>
                                </div> 
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row copyright">
                    <div class="span12" data-motopress-type="static">
                        <div id="footer-text" class="footer-text">

                        <p class="text-copy">{% trans %}Todos los derechos reservados{% endtrans %}, {{ "now"|date("Y") }}</p>
                         
                        </div> 
                    </div>
                </div> 
            </div>
        </div>
    </div>
</footer>
</div>

<div id="back-top-wrapper" class="visible-desktop">
    <p id="back-top">
    <a href="#top"><span></span></a> </p>
</div>