<footer class="motopress-wrapper footer">
<div class="container">
<div class="row">
<div class="span12" data-motopress-wrapper-file="wrapper/wrapper-footer.php" data-motopress-wrapper-type="footer" data-motopress-id="58e7712916bdd">
<div class="row footer-widgets">
<div class="span3" data-motopress-type="dynamic-sidebar" data-motopress-sidebar-id="footer-sidebar-1">
</div>
<div class="span3" data-motopress-type="dynamic-sidebar" data-motopress-sidebar-id="footer-sidebar-2">
</div>
<div class="span3" data-motopress-type="dynamic-sidebar" data-motopress-sidebar-id="footer-sidebar-3">
</div>
<div class="span3" data-motopress-type="dynamic-sidebar" data-motopress-sidebar-id="footer-sidebar-4">
</div>
</div>
<div class="row">
<div class="span12 footer-content">
<div class="row">
<div class="span4">
<div class="footer-logo">
<a href="/">
<img src="https://livedemo00.template-help.com/woocommerce_57763/wp-content/themes/theme57763/images/footer_logo.png" alt="">
</a>
</div> <div id="text-2" class="visible-all-devices footer-contacts"> <div class="textwidget">
<a class="email" href="/cdn-cgi/l/email-protection#355c5b535a755150585a595c5b5e1b5a4752"><span class="__cf_email__" data-cfemail="c2abaca4ad82a6a7afadaeabaca9ecadb0a5">[email&#160;protected]</span><script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function(t,e,r,n,c,a,p){try{t=document.currentScript||function(){for(t=document.getElementsByTagName('script'),e=t.length;e--;)if(t[e].getAttribute('data-cfhash'))return t[e]}();if(t&&(c=t.previousSibling)){p=t.parentNode;if(a=c.getAttribute('data-cfemail')){for(e='',r='0x'+a.substr(0,2)|0,n=2;a.length-n;n+=2)e+='%'+('0'+('0x'+a.substr(n,2)^r).toString(16)).slice(-2);p.replaceChild(document.createTextNode(decodeURIComponent(e)),c)}p.removeChild(t)}}catch(u){}}()/* ]]> */</script></a>
</div>
</div> </div>
<div class="span8" data-motopress-type="static" data-motopress-static-file="static/static-footer-nav.php">
{# <div class="social-nets-wrapper">
</div> #}
<nav class="nav footer-nav">
<ul id="menu-footer-menu" class="menu"><li id="menu-item-2253" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-203 current_page_item menu-item-2253"><a href="#">{% trans %}Inicio{% endtrans %}</a></li>
<li id="menu-item-2257" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2257"><a href="#">{% trans %}Acerca{% endtrans %}</a></li>
<li id="menu-item-2271" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2271"><a href="#">{% trans %}Tienda{% endtrans %}</a></li>
<li id="menu-item-2256" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2256"><a href="#">{% trans %}Portafolio{% endtrans %}</a></li>
<li id="menu-item-2255" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2255"><a href="#">{% trans %}Contáctanos{% endtrans %}</a></li>
</ul> </nav>
</div>
</div>
</div>
</div>
<div class="row copyright">
<div class="span12" data-motopress-type="static" data-motopress-static-file="static/static-footer-text.php">
<div id="footer-text" class="footer-text">

<p>{% trans %}Texto copyright{% endtrans %}</p>
 
</div> </div>
</div> </div>
</div>
</div>
</footer>
 
</div>
<div id="back-top-wrapper" class="visible-desktop">
<p id="back-top">
<a href="#top"><span></span></a> </p>
</div>
 
<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
        f[z]=function(){
        (a.s=a.s||[]).push(arguments)};var a=f[z]._={
        },q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
        f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
        0:+new Date};a.P=function(u){
        a.p[u]=new Date-a.p[0]};function s(){
        a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
        hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
        return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
        b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
        b.contentWindow[g].open()}catch(w){
        c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
        var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
        b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
        loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
        /* custom configuration goes here (www.olark.com/documentation) */
        olark.identify('7830-582-10-3714');/*]]>*/</script><noscript><a href="https://www.olark.com/site/7830-582-10-3714/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="https://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
 
<script type='text/javascript' src='https://livedemo00.template-help.com/woocommerce_57763/wp-includes/js/comment-reply.min.js?ver=4.3.9'></script>
<script type='text/javascript' src='https://livedemo00.template-help.com/woocommerce_57763/wp-content/plugins/cherry-plugin/lib/js/FlexSlider/jquery.flexslider-min.js?ver=2.2.2'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var items_custom = [[0,1],[480,2],[768,3],[980,4],[1170,5]];
/* ]]> */
</script>
<script type='text/javascript' src='https://livedemo00.template-help.com/woocommerce_57763/wp-content/plugins/cherry-plugin/includes/js/cherry-plugin.js?ver=1.2.8'></script>
<script type='text/javascript' src='https://livedemo00.template-help.com/woocommerce_57763/wp-content/plugins/cherry-lazy-load-master/js/cherry.lazy-load.js?ver=1.1'></script>
<script type='text/javascript' src='https://livedemo00.template-help.com/woocommerce_57763/wp-content/plugins/cherry-lazy-load-master/js/device.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://livedemo00.template-help.com/woocommerce_57763/wp-content/plugins/cherry-parallax-plugin/js/cherry.apiloader.js?ver=1.0'></script>
<script type='text/javascript' src='https://livedemo00.template-help.com/woocommerce_57763/wp-content/plugins/cherry-parallax-plugin/js/cherry.parallax.js?ver=1.0.0'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var cherry_wc_data = {"ajax_url":"https:\/\/livedemo00.template-help.com\/woocommerce_57763\/wp-admin\/admin-ajax.php","nonce":"4d3fe82c68","loading":"Loading..."};
/* ]]> */
</script>
<script type='text/javascript' src='https://livedemo00.template-help.com/woocommerce_57763/wp-content/plugins/cherry-woocommerce-package/assets/js/script.js?ver=1.2.0'></script>
<script type='text/javascript' src='https://livedemo00.template-help.com/woocommerce_57763/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"https:\/\/livedemo00.template-help.com\/woocommerce_57763\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","sending":"Sending ..."};
/* ]]> */
</script>
<script type='text/javascript' src='https://livedemo00.template-help.com/woocommerce_57763/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=4.3'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wc_add_to_cart_params = {"ajax_url":"\/woocommerce_57763\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/woocommerce_57763\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View Cart","cart_url":"https:\/\/livedemo00.template-help.com\/woocommerce_57763\/cart\/","is_cart":"","cart_redirect_after_add":"no"};
/* ]]> */
</script>
<script type='text/javascript' src='//livedemo00.template-help.com/woocommerce_57763/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=2.4.10'></script>
<script type='text/javascript' src='//livedemo00.template-help.com/woocommerce_57763/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var woocommerce_params = {"ajax_url":"\/woocommerce_57763\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/woocommerce_57763\/?wc-ajax=%%endpoint%%"};
/* ]]> */
</script>
<script type='text/javascript' src='//livedemo00.template-help.com/woocommerce_57763/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=2.4.10'></script>
<script type='text/javascript' src='//livedemo00.template-help.com/woocommerce_57763/wp-content/plugins/woocommerce/assets/js/jquery-cookie/jquery.cookie.min.js?ver=1.4.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wc_cart_fragments_params = {"ajax_url":"\/woocommerce_57763\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/woocommerce_57763\/?wc-ajax=%%endpoint%%","fragment_name":"wc_fragments"};
/* ]]> */
</script>
<script type='text/javascript' src='//livedemo00.template-help.com/woocommerce_57763/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=2.4.10'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var yith_woocompare = {"nonceadd":"fbb00d327d","nonceremove":"01921d985f","nonceview":"08ccb20b3a","ajaxurl":"https:\/\/livedemo00.template-help.com\/woocommerce_57763\/wp-admin\/admin-ajax.php","actionadd":"yith-woocompare-add-product","actionremove":"yith-woocompare-remove-product","actionview":"yith-woocompare-view-table","added_label":"Added","table_title":"Product Comparison","auto_open":"no","loader":"https:\/\/livedemo00.template-help.com\/woocommerce_57763\/wp-content\/plugins\/yith-woocommerce-compare\/assets\/images\/loader.gif"};
/* ]]> */
</script>
<script type='text/javascript' src='https://livedemo00.template-help.com/woocommerce_57763/wp-content/plugins/yith-woocommerce-compare/assets/js/woocompare.js?ver=2.0.4'></script>
<script type='text/javascript' src='https://livedemo00.template-help.com/woocommerce_57763/wp-content/plugins/yith-woocommerce-compare/assets/js/jquery.colorbox-min.js?ver=1.4.21'></script>
<script type='text/javascript' src='//livedemo00.template-help.com/woocommerce_57763/wp-content/plugins/woocommerce/assets/js/prettyPhoto/jquery.prettyPhoto.min.js?ver=3.1.5'></script>
<script type='text/javascript' src='//livedemo00.template-help.com/woocommerce_57763/wp-content/plugins/woocommerce/assets/js/prettyPhoto/jquery.prettyPhoto.init.min.js?ver=2.4.10'></script>
<script type='text/javascript' src='https://livedemo00.template-help.com/woocommerce_57763/wp-content/plugins/yith-woocommerce-wishlist/assets/js/jquery.selectBox.min.js?ver=4.3.9'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var yith_wcwl_l10n = {"ajax_url":"https:\/\/livedemo00.template-help.com\/woocommerce_57763\/wp-admin\/admin-ajax.php","redirect_to_cart":"no","multi_wishlist":"","hide_add_button":"1","is_user_logged_in":"","ajax_loader_url":"https:\/\/livedemo00.template-help.com\/woocommerce_57763\/wp-content\/plugins\/yith-woocommerce-wishlist\/assets\/images\/ajax-loader.gif","remove_from_wishlist_after_add_to_cart":"yes","labels":{"cookie_disabled":"We are sorry, but this feature is available only if cookies are enabled on your browser.","added_to_cart_message":"<div class=\"woocommerce-message\">Product correctly added to cart<\/div>"},"actions":{"add_to_wishlist_action":"add_to_wishlist","remove_from_wishlist_action":"remove_from_wishlist","move_to_another_wishlist_action":"move_to_another_wishlsit","reload_wishlist_and_adding_elem_action":"reload_wishlist_and_adding_elem"}};
/* ]]> */
</script>
<script type='text/javascript' src='https://livedemo00.template-help.com/woocommerce_57763/wp-content/plugins/yith-woocommerce-wishlist/assets/js/jquery.yith-wcwl.js?ver=2.0'></script>
<script type='text/javascript' src='https://livedemo00.template-help.com/woocommerce_57763/wp-content/themes/CherryFramework/js/superfish.js?ver=1.5.3'></script>
<script type='text/javascript' src='https://livedemo00.template-help.com/woocommerce_57763/wp-content/themes/CherryFramework/js/jquery.mobilemenu.js?ver=1.0'></script>
<script type='text/javascript' src='https://livedemo00.template-help.com/woocommerce_57763/wp-content/themes/CherryFramework/js/jquery.magnific-popup.min.js?ver=0.9.3'></script>
<script type='text/javascript' src='https://livedemo00.template-help.com/woocommerce_57763/wp-content/themes/CherryFramework/js/jplayer.playlist.min.js?ver=2.3.0'></script>
<script type='text/javascript' src='https://livedemo00.template-help.com/woocommerce_57763/wp-content/themes/CherryFramework/js/jquery.jplayer.min.js?ver=2.6.0'></script>
<script type='text/javascript' src='https://livedemo00.template-help.com/woocommerce_57763/wp-content/themes/CherryFramework/js/tmstickup.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://livedemo00.template-help.com/woocommerce_57763/wp-content/themes/CherryFramework/js/device.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='https://livedemo00.template-help.com/woocommerce_57763/wp-content/themes/CherryFramework/js/jquery.zaccordion.min.js?ver=2.1.0'></script>
<script type='text/javascript' src='https://livedemo00.template-help.com/woocommerce_57763/wp-content/themes/CherryFramework/js/camera.min.js?ver=1.3.4'></script>
<script type='text/javascript' src='https://livedemo00.template-help.com/woocommerce_57763/wp-content/themes/CherryFramework/js/jquery.debouncedresize.js?ver=1.0'></script>
<script type='text/javascript' src='https://livedemo00.template-help.com/woocommerce_57763/wp-content/themes/CherryFramework/js/jquery.ba-resize.min.js?ver=1.1'></script>
<script type='text/javascript' src='https://livedemo00.template-help.com/woocommerce_57763/wp-content/themes/CherryFramework/js/jquery.isotope.js?ver=1.5.25'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var compare_data = {"table_url":"https:\/\/livedemo00.template-help.com\/woocommerce_57763\/?action=yith-woocompare-view-table&iframe=true&ver=1491562791","ajax_url":"https:\/\/livedemo00.template-help.com\/woocommerce_57763\/wp-admin\/admin-ajax.php"};
/* ]]> */
</script>
<script type='text/javascript' src='https://livedemo00.template-help.com/woocommerce_57763/wp-content/themes/theme57763/js/custom-script.js?ver=1.0'></script>
<script type='text/javascript' src='https://livedemo00.template-help.com/woocommerce_57763/wp-content/themes/theme57763/parallax-slider/js/parallaxSlider.js?ver=1.0'></script>
<script type='text/javascript' src='https://livedemo00.template-help.com/woocommerce_57763/wp-content/plugins/cherry-woocommerce-package/assets/js/owl.carousel.min.js?ver=1.2.0'></script>
<script>
    (function($) {
        $(window).load(function() {
            if ($('.widget_shopping_cart_content').is(':empty')) {
                $('.widget_shopping_cart_content').text('No products in the cart.');
            }
        });
    })(jQuery);
    </script>
<script type="text/javascript">
                deleteCookie('cf-cookie-banner');
</script>