<head>    
{% include 'AppBundle:layout:assets.html.twig' %}
</head>
<body class="home page page-id-203 page-template page-template-page-home page-template-page-home-php has_woocommerce has_shop olrk-live-chat">
<div id="motopress-main" class="main-holder">
 
<header class="motopress-wrapper header">
    <div class="container">
        <div class="row" id="line-left">
            <div class="span12" data-motopress-wrapper-type="header" data-motopress-id="58e77127c1916">
                <div class="row int-row">
                    <div class="span12 header-content">
                        <div class="row">
                            <div class="span3" data-motopress-type="static">
                                <div class="logo pull-left">
                                    <a href="/" class="logo_h logo_h__img">
                                        {% image '@AppBundle/Resources/public/img/logo.png' %}
                                            <img src="{{ asset_url }}" alt="" class='img-responsive m-a' />
                                        {% endimage %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</header>